
@{
    ViewData["Title"] = "Hakkında";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hakkında</h1>

<p>
    Bu site Cihan Enes Çolak (180903021) tarafından sistem analizi ödevi için yapılmıştır. Amaç bir alışveriş sitesinde kullanıcıya ilgisini çekebilecek ürünleri göstermek. Tam olarak aynı işlevi yapmasada ( Burdan kastım normalde ziyaret ettiğiniz ürünlere göre size yeni ürün gösterir) bir ürün aldığında kullanıcıya aynı kategoride başka ürünleride (random olduğu için aynı üründe gelebilir) önermek.
</p>

<p>Denemek için bir üyelik açıp sepete ekledikten sonra almalısınız.Ardın ana ekrana geldiğinizde size ürün önericek.</p>

<p>Kullanılan teknolojiler .Net Core MVC , Docker , MongoDB , C#</p>

